<app-searchbar></app-searchbar>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <mat-card fxFlex="50" class="stats-cards">
        <mat-card-subtitle>Performance daily Test</mat-card-subtitle>
        <app-widget-card [data]="performance_1_day" ></app-widget-card>
    </mat-card>
    <mat-card fxFlex="50" class="stats-cards">
        <mat-card-subtitle>Performance 20 days</mat-card-subtitle>
        <app-widget-card [data]="performance_n_days" ></app-widget-card>
    </mat-card>
</div>

<br>

<mat-divider></mat-divider>

<br>    

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
    <mat-card fxFlex="100">
        <app-widget-performance-graph></app-widget-performance-graph>
    </mat-card>
</div>

<br>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
    <mat-card fxFlex="100">
        <app-world-performance-map></app-world-performance-map>
    </mat-card>
</div>

<br>

<mat-divider></mat-divider>


<br>

<div>
    <div>Table</div>
    <div>Pie chart</div>
</div>

<div>
    <app-widget-news></app-widget-news>
</div>